@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/varelaround/v13/w8gdH283Tvk__Lua32TysjIfp8uP.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
// responsive responsive media queries
@mixin extra_large_screen () {
    @media screen and (max-width: 1200px) {
        @content;
    }
}
@mixin large_screen () {
    @media screen and (max-width: 992px) {
        @content;
    }
}
@mixin medium_screen () {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin small_screen () {
    @media screen and (max-width: 576px) {
        @content;
    }
}

// root variables 
$dark-choclet-color: #3a3a3a;
$white-color: #ffffff;
$cyan-color: #3acec2;
$dark-blue-color: #093a58;
$dark-blue-trancparent-color: #093a58cb;
$gray-background: #d9e4ea;

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    overflow-x: hidden;
}
body {
    font-family: 'Varela Round';
    color: $dark-choclet-color;
}
.wrapper {
    margin: 0 auto;
    width: 1170px;
    @include extra_large_screen() {
        width: 95%;
    }
    @include large_screen() {
        width: 95%;
    }
    @include medium_screen () {
        width: 95%;
    }
}
#header {
    border-bottom: 1px solid #000000;
    position: fixed;
    top: 0;
    width: 100%;
    background: $white-color;
    z-index: 1;
    .flexbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include medium_screen () {
            flex-direction: column;
        }
        .brand {
            a {
                color: $dark-blue-color;
                text-decoration: none;
                display: block;
                padding: 20px 10px;
                font-size: 20px;
                font-weight: bold;
                @include medium_screen () {
                    padding: 15px 7px;
                }
            }
        }
        .menu {
            ul {
                list-style: none;
                li {
                    display: inline-block;
                    a {
                        display: block;
                        text-decoration: none;
                        color: $cyan-color;
                        display: block;
                        padding: 35px 20px;
                        margin-left: 10px;
                        text-transform: uppercase;
                        &:hover {
                            color: $dark-blue-color;
                        }
                        @include medium_screen () {
                            padding: 15px 5px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}
#hero {
    background: $cyan-color;
    text-align: center;
    color: $white-color;
    margin-top: 90px;
    @include medium_screen() {
        margin-top: 105px;
    }
    .image {
        img {
            width: 190px;
            padding: 30px 0;
        }
    }
    .title {
        padding: 20px 0;
    }
    .subtitle {
        padding-bottom: 40px;
        font-size: 1.4em;
    }
}
#content{
    margin: 30px 0;
    .flexbox {
        display: flex;
        flex-wrap: wrap;
        .column {
            width: 30%;
            line-height: 1.6;
            padding: 15px;
            h2 {
                color: $dark-blue-color;
                margin-bottom: 15px;
            }
            p {
                margin-bottom: 20px;
            }
            &:nth-child(2) {
                flex-grow: 1.4;
            }
            @include large_screen() {
                &:nth-child(1),
                &:nth-child(2) {
                    flex-grow: 1;
                    flex-basis: 50%;
                }
                &:nth-child(3) {
                    flex-basis: 100%;
                }
            }
            @include medium_screen () {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    flex-basis: 100%;
                    padding: 0;
                }
            }
            .image-content {
                position: relative;
                color: $white-color;
                .image-content-box {
                    padding: 5px 15px;
                    position: absolute;
                    bottom: 0;
                    background: $dark-blue-trancparent-color;
                    h4 {
                        margin-bottom: 10px;
                        text-align: center;
                    }
                    p {
                        margin: 10px;
                        line-height: 14px;
                        font-size: 16px;
                    }
                }

            }
        }
    }
}
#footer {
    background: $gray-background;
    text-align: center;
    margin-top: 30px;
    padding: 35px 0;
    color: $dark-choclet-color;
}